[Unit]
Description=Dynamic VM HTTP Proxy

[Service]
Type=simple
Restart=on-failure
ExecStart=/home/myuser/vm-http-proxy/run.sh

[Install]
WantedBy=multi-user.target
